
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div id="question"></div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script>

    $.ajax({
        type: "GET",
        url: "/Home/GetSingleQuestionAndAnswer",
        dataType: "json",
        data: '',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            debugger;
            $("#question").empty();
            $.each(data, function (i, data) {
                debugger;
                $("#question").append("<p> Ques" + data.tblQuestionID + ":" + data.Question + "</p>")
                $("#question").append("<p> Ans:" + data.Answer + ' - ' + data.Finalresult + "</p>")

            });
        }

    });

</script>
